/* FONTS */
/* Used for paragraphs */
@font-face {
    font-family: Montserrat-Regular;
    src: url(../font/Montserrat-Regular.ttf);
}

/* Used for headings */
@font-face {
    font-family: Montserrat-Bold;
    src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Martel-Light;
    src: url(../font/Martel-Light.ttf);
}
@font-face {
    font-family: Martel-Bold;
    src: url(../font/Martel-Bold.ttf);
}

/* CUSTOM PROPERTIES */
:root {

    /* Colours */
    --valley-red: #E02C35;
    --valley-white: #FDFAF6;
    --valley-grey: #F4F4F5;
    --valley-black: #222222;

    /* BREAKDOWN */

    /* Headings */
    --heading-line-height: 120%;
    --heading-letter-spacing-montserrat: -3.5%;
    --heading-letter-spacing-martel: 0%;

    /* Paragraphs */
    --paragraph-line-height: 140%;
    --paragraph-letter-spacing: -3.5%;

    /* Font sizes */
    --size-96-px: 96px;
    --size-72-px: 72px;
    --size-70-px: 70px;
    --size-60-px: 60px;
    --size-48-px: 48px;
    --size-42-px: 42px;
    --size-36-px: 36px;
    --size-32-px: 32px;
    --size-28-px: 28px;
    --size-24-px: 24px;
    --size-20-px: 20px;
    --size-16-px: 16px;
    --size-12-px: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat-Regular;
    background-color: var(--valley-white);
}

/* Classes for the JavaScript */
.active {
    background: var(--valley-black);
}

.active a:hover {
    color: #fff;
}

/* Navigation */
#nav-checkbox, .nav-toggle {
    display: none;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.35em 0;
    transition: background-color 0.5s ease;
    z-index: 1;
}

.logo-valley-white {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 80px;
    height: auto;
}

.logo-valley-white:hover {
    cursor: pointer;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu li a {
    color: var(--valley-white);
    text-decoration: none;
    font-size: var(--size-20-px);
    padding: 0 1em;
}

/* Header case study */
.case-study {
    display: grid;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nike-img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.case-study-title {
    font-family: Montserrat-Bold;
    color: var(--valley-white);
    margin-top: -5em;
    padding: 1em;
}

.case-study-title > h3 {
    font-size: var(--size-36-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
}

.case-study-title > h6 {
    font-size: var(--size-16-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
}

/* Case study introduction */
.case-introduction {
    display: flex;
    flex-direction: column;
}

.introduction-content > h4 {
    font-family: Martel-Light;
    font-size: var(--size-32-px);
    max-width: 25rem;
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-martel);
    margin-top: 0.2em;
    text-align: center;
}

.tags {
    font-family: Martel-Light;
    font-size: var(--size-12-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    position: relative;
    top: 1em;
    margin: auto;
    max-width: 19rem;
}

.tags li {
    background-color: var(--valley-grey);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 8em;
    margin-left: 0.1em;
    margin-bottom: 0.3em;
 }

.body-l-1{
    font-family: Montserrat-Regular;
    font-size: var(--size-20-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    margin-top: 2em;
    padding: 1em;
}

.body-l-2 {
    font-family: Montserrat-Regular;
    font-size: var(--size-20-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    margin-top: -1em;
    padding: 1em;
}

.case-introduction h5 {
    font-family: Montserrat-Bold;
    font-size: var(--size-20-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 1em;
}

.body-l-3 {
    font-family: Montserrat-Regular;
    font-size: var(--size-20-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    padding: 1em;
    margin-bottom: 2em;
}

/* Facts and figures */
.fact-and-figures {
    color: var(--valley-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fact-title {
    font-family: Montserrat-Bold;
    font-size: var(--size-36-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
}

.fact-subtitle {
    font-family: Martel-Light;
    font-size: var(--size-20-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    margin: 1em 1em 2em 0;
}

.fact-info {
    font-family: Martel-Light;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
}

.fact-1 {
    background-color: var(--valley-black);
    margin: 1em 1em 1em 1em;
    padding: 1em;
    border-radius: 0.3em;
    max-width: 21em;
}

.fact-2 {
    background-color: var(--valley-black);
    margin: 1em 1em 1em 1em;
    padding: 1em;
    border-radius: 0.3em;
    max-width: 21em;
}

.fact-3 {
    background-color: var(--valley-black);
    margin: 1em 1em 5em 1em;
    padding: 1em;
    border-radius: 0.3em;
    max-width: 21em;
}

/* Main content */
.case-content {
    display: flex;
    flex-direction: column;
}

.create-your-kit-content > img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.create-your-kit-content > p {
    font-family: Montserrat-Regular;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    padding: 1em;
}

/* Create your kit content */
.create-your-kit > h5 {
    font-family: Montserrat-Bold;
    font-size: var(--size-20-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
    padding: 1em;
}

.body-m-1 {
    font-family: Montserrat-Regular;
    font-size: var(--size-16-px);
    line-height: var(--parahraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    padding: 1.2em;
}

.body-m-2 {
    font-family: Montserrat-Regular;
    font-size: var(--size-16-px);
    line-height: var(--parahraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    padding: 1.2em;
    margin-bottom: 3em;
}

/* Image gallery nike */
.customize-desktop {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.customize-mobile {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.quote {
    font-family: Montserrat-Regular;
    font-size: var(--size-24-px);
    line-height: var(--parahraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    padding: 1.2em;
}

.signature {
    font-family: Martel-Light;
    color: var(--valley-red);
    font-size: var(--size-16-px);
    line-height: var(--parahraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    padding: 1.2em;
    position: relative;
    max-width: 300px;
    margin: 0.2em auto;
    text-align: center;
}

.signature:before {
    background: var(--valley-red);
    content:" ";
    display: block;
    height: 0.1em;
    width: 3em;
    position: absolute;
    top: 50%;
    left: -0.625em;
}

.image-gallery-nike > h5 {
    font-family: Montserrat-Bold;
    font-size: var(--size-20-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
    padding: 2em 2em 0 1em;
}

/* Football jersey image gallery */
.football-jersey-image-gallery {
    display: flex;
    flex-direction: column;
}

.football-jersey-back {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    margin-bottom: 0.3em;
}

.football-jersey-front {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.football-jersey-image-gallery > h5 {
    font-family: Montserrat-Bold;
    font-size: var(--size-20-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
    padding: 1em;
    margin-top: 1.5em;
}

/* Image gallery */
.player-playing-football {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.team-playing-football {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.duo-wearing-football-uniform {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.image-gallery > p {
    font-family: Montserrat-Regular;
    font-size: var(--size-16-px);
    line-height: var(--parahraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    padding: 1.2em;
    margin-bottom: 3em;
}

/* Contact */
.contact {
    background-color: var(--valley-grey);
    display: flex;
    flex-direction: column;
}

.contact-content > h6 {
    font-family: Montserrat-Bold;
    font-size: var(--size-16-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
    margin: 1em 0 0 0;
    padding: 1em;
}

.contact-modal-button {
    font-family: Montserrat-Bold;
    color: var(--valley-white);
    width: 10.5em;
    height: 3.12em;
    left: 10.12em;
    top: 12.25em;
    background: var(--valley-red);
    border-radius: 2.62em;
    border: 1px solid var(--valley-red);
    margin: 3em 0 2em 0;
}

.contact-modal-button:hover {
    background: #d40711;
    cursor: pointer;
}

.contact-modal-button > h5 {
    font-size: var(--size-16-px);
}

.chairmen {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Images */
.auke {
    width: 12.5em;
    height: 12.5em;
    margin: 3em 0 0 0;
}

.philip {
    width: 12.5em;
    height: 12.5em;
    margin: 3em 0 0 0;
}

/* Auke Meijer */
.name {
    font-family: Montserrat-Bold;
    color: var(--valley-red);
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    margin: 0 0 0 -6em;
}

.position {
    font-family: Montserrat-Bold;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    margin: 0 0 0 -7.3em;
}

.mail {
    font-family: Martel-Light;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-martel);
    margin: 0 0 0 -3em;
}

/* Philip Kok */
.name-2 {
    font-family: Montserrat-Bold;
    color: var(--valley-red);
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    margin: 0 0 0 -7em;
}

.position-2 {
    font-family: Montserrat-Bold;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    margin: 0 0 0 -10em;
}

.mail-2 {
    font-family: Martel-Light;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-martel);
    margin: 0 0 0 -2.3em;
}

/* Carousel section*/
.space {
    margin-bottom: 19em;
}

.carousel-intro > h4 {
    font-family: Martel-Light;
    font-size: var(--size-32-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-martel);
    margin: 0.5em 0 0 0.5em;
    padding: 1em;
}

.carousel-section > h6 {
    font-family: Montserrat-Bold;
    color: var(--valley-red);
    font-size: var(--size-16-px); 
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-montserrat);
    margin: 2em 0 3em 3.5em;
}

.carousel-intro > img {
    max-width: 28em;
    max-height: 100vh;
    width: 100%;
}

/* Carousel buttons */
.align-right {
    text-align: right;
    margin-right: 0.5em;
}

.left {
    all: unset;
    cursor: pointer;
}

.left > img {
    max-width: 2em;
}

.right {
    all: unset;
    cursor: pointer;
}

.right > img {
    max-width: 2em;
}

/* Slider */
.carousel-slider {
    position: relative;
}

.carousel-slider > ul {
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
}

.the-valley-office {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

.the-valley-bar {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
}

/* Footer */
footer {
    background-color: var(--valley-black);
    color: var(--valley-white);
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content > img {  
    width: 6.25em;
    height: 2.5em;
    margin: 1em 0 0 1em;
}

.footer-content > h6 {
    font-family: Martel-Light;
    font-size: var(--size-16-px);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing-martel);
    margin: 0.3em 0 1em 1em;
}

.contacts {
    font-family: Montserrat-Regular;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    list-style: none;
    margin: 1em 0 1em 3em;
}

.social-media {
    font-family: Montserrat-Regular;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing);
    list-style: none;
    margin: 0.3em 0 3em 5em;
}

.line {
    width: 18em;
    opacity: 0.1;
    border: 1px solid var(--valley-grey);
    margin: auto;
    margin-bottom: 3em;
}

.footer-end > li {
    font-family: Montserrat-Regular;
    font-size: var(--size-16-px);
    line-height: var(--paragraph-line-height);
    letter-spacing: var(--paragraph-letter-spacing-montserrat);
    margin: 0.5em 0.5em 0.5em 0.5em;
    display: inline-block;;
    list-style: none;
}


/* CSS for the intersection observer */
.hidden {
    opacity: 0;
    fill: blur(5px);
    transform: translateY(100%);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* Media queries tablet */
@media only screen and (min-width: 30em) {

    /* Navigation */
    .sticky-nav {
        padding: 1.75em 0;
    }
    
    .logo-valley-white {
        top: 10px;
        left: 10px;
        width: 100px;
    }

    /* Introduction */
    .case-study-title {
        font-family: Montserrat-Bold;
        color: var(--valley-white);
        margin-top: -6em;
        padding: 1em;
    }
    
    .case-study-title > h3 {
        font-size: var(--size-48-px);
        line-height: var(--heading-line-height);
        letter-spacing: var(--heading-letter-spacing-montserrat);
    }
    
    .case-study-title > h6 {
        font-size: var(--size-20-px);
        line-height: var(--heading-line-height);
        letter-spacing: var(--heading-letter-spacing-montserrat);
    }

    .introduction-content > h4 {
        font-family: Martel-Light;
        font-size: var(--size-36-px);
        max-width: 100vw;
        line-height: var(--heading-line-height);
        letter-spacing: var(--heading-letter-spacing-martel);
        margin-top: 0.2em;
        text-align: center;
    }

    .tags {
        font-family: Martel-Light;
        font-size: var(--size-16-px);
        line-height: var(--paragraph-line-height);
        letter-spacing: var(--paragraph-letter-spacing);
        position: relative;
        top: 2em;
        max-width: 35em;
    }
    
    .tags li {
        background-color: var(--valley-grey);
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 8em;
        margin-left: 0.1em;
        margin-bottom: 0.3em;
     }

     .body-l-1{
        font-size: var(--size-24-px);
    }
    
    .body-l-2 {
        font-size: var(--size-24-px);
    }

    .case-introduction h5 {
        font-size: var(--size-32-px);
    }
    
    .body-l-3 {
        font-size: var(--size-24-px);
    }

    /* Facts and figures */
    .fact-title {
        font-family: Montserrat-Bold;
        font-size: var(--size-48-px);
        line-height: var(--heading-line-height);
        letter-spacing: var(--heading-letter-spacing-montserrat);
    }
    
    .fact-subtitle {
        font-family: Martel-Light;
        font-size: var(--size-24-px);
        line-height: var(--paragraph-line-height);
        letter-spacing: var(--paragraph-letter-spacing);
        margin: 1em 1em 2em 0;
    }
    
    .fact-info {
        font-family: Martel-Light;
        font-size: var(--size-20-px);
        line-height: var(--paragraph-line-height);
        letter-spacing: var(--paragraph-letter-spacing);
    }
    
    .fact-1 {
        padding: 2em;
        max-width: 29em;
    }
    
    .fact-2 {
        padding: 2em;
        max-width: 29em;
    }
    
    .fact-3 {
        padding: 2em;
        max-width: 29em;
    }

    /* Main content */
    .create-your-kit-content > p {
        font-size: var(--size-20-px);
    }
    
    /* Create your kit content */
    .create-your-kit > h5 {
        font-size: var(--size-32-px);
    }
    
    .body-m-1 {
        font-size: var(--size-20-px);
    }
    
    .body-m-2 {
        font-size: var(--size-20-px);
    }

    .quote {
        font-size: var(--size-28-px);
    }
    
    .signature {
        font-size: var(--size-20-px);
    }
    
    .signature:before {
        background: var(--valley-red);
        content:" ";
        display: block;
        height: 0.1em;
        width: 5em;
        position: absolute;
        top: 50%;
        left: -5em;
    }

    .image-gallery-nike > h5 {
        font-size: var(--size-32-px);
    }

    .football-jersey-image-gallery > h5 {
        font-size: var(--size-32-px);
    }

    /* Contact */
    .contact-content > h6 {
        font-size: var(--size-20-px);
    }

    /* Images */
    .auke {
        width: 18.75em;
        height: 18.75em;
        margin: 3em 0 0 0;
    }
    
    .philip {
        width: 18.75em;
        height: 18.75em;
        margin: 3em 0 0 0;
    }

    /* Auke Meijer */
    .name {
        font-size: var(--size-20-px);
        margin: 0 0 0 -8.5em;
    }

    .position {
        font-size: var(--size-20-px);
        margin: 0 0 0 -9.8em;
    }

    .mail {
        font-size: var(--size-20-px);
        margin: 0 0 0 -5.5em;
    }

    /* Philip Kok */
    .name-2 {
        font-size: var(--size-20-px);
        margin: 0 0 0 -9.6em;
    }

    .position-2 {
        font-size: var(--size-20-px);
        margin: 0 0 0 -12.8em;
    }

    .mail-2 {
        font-size: var(--size-20-px);
        margin: 0 0 0 -5.1em;
    }

    /* Contact button */  
    .contact-modal-button {
        font-family: Montserrat-Bold;
        color: var(--valley-white);
        width: 17em;
        height: 5em;
        left: 20em;
        top: 24.5em;
        background: var(--valley-red);
        border-radius: 42px;
        border: 1px solid var(--valley-red);
        margin: 3em 0 3em 0;
    }
    
    .contact-modal-button:hover {
        background: #d40711;
        cursor: pointer;
    }

    .contact-modal-button > h5 {
        font-size: var(--size-20-px);
    }

    /* Carousel */
    .space {
        margin-bottom: 26em;
    }

    .carousel-intro > h4 {
        font-size: var(--size-36-px);
    }

    .carousel-section > h6 {
        font-size: var(--size-20-px); 
        margin: 2em 0 3em 7em;
    }

    /* Carousel buttons */
    .slide > img {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
    }

    .left {
        all: unset;
        cursor: pointer;
    }

    .left > img {
        max-width: 2em;
    }

    .right {
        all: unset;
        cursor: pointer;
    }

    .right > img {
        max-width: 2em;
    }
    
    /* Footer */
    .footer-content > img {  
        width: 9.38em;
        height: 3.75em;
        margin: 1em 0 0 1em;
    }
    
    .footer-content > h6 {
        font-size: var(--size-20-px);
    }
    
    .contacts {
        font-size: var(--size-20-px);
        margin: 2em 0 2em 6em;
    }
    
    .social-media {
        font-size: var(--size-20-px);
        margin: 0.3em 0 3em 10em;
    }
    
    .line {
        width: 28em;
    }
    
    .footer-end > li {
        font-size: var(--size-20-px);
    }
}